html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
}
section{
    padding-top: 8vw;
    padding-bottom: 8vw;
}
p{
    margin: 0px 20px 10px 20px;
    text-align: center;
}
h2,h3{
    text-align: center;
    color:#22a39f;
    font-weight: 300;
}
h2{
    font-size: 54px;
    margin: 20px 0;
}
h3{
    font-size: 28px;
    margin: 20px 0 0 0;
}
h4{
    text-align: center;
    color:#22a39f;
    margin: 16px 0 0 4px;
}
hr{
    width: 80vw;
    margin-left: 10%;
}
li{
    padding-right: 20px;
}
.even{
    background-color: #f3efe0;
}



header{
    top: 0px;
    display:block;
    width: 100vw;
    height: 90vh;
    color: #f3efe0;
    background-image: url(../img/codeback.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
}
.tex{
    margin-top: 70vh;
    text-align: center;
}
.bot{
    display: block;
    height: 10vh;
    background-color: black;
}
@keyframes moves{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(0px);
    }
}
.arrow{
    position: absolute;
    animation: moves 1s linear infinite;
    left: 50%;
    transform: translateX(-50%);
}



.navi{
    background-color: black;
    position: sticky;
    top: 0px;
    display: block;
}
.navibar{
    display: flex;
    justify-content: flex-end;
}
.menu{
    background-color:rgba(0,0,0,1);
    border: 0px;
}
.menu img{
    height: 10vw;
}
.menuclose{
    display: none;
}
.menuopen{
    margin-top: 2%;
    display: block;
    text-align: center;
    overflow: hidden;
}
.menuopen a{
    color: white;
    font-size: 150%;
    text-decoration: none;
    margin-right: 6%;
    margin-left: auto;
    margin-right: auto;
}
.menuopen a:hover{
    color: grey;
}



#profile{
    text-align: center;
}
#profile img{
    width: 48vw;
    border-radius: 50%;
    border: 2vw black solid;
}


.pleft{
    text-align: left;
}
.link{
    color: black;
}


.sklist progress{
    width: 90%;
    margin-left: 5%;
}


#contact{
    background-color: #434242;
    color: white;
}
#contact a{
    font-size: large;
    color: #f3efe0;
}
#contact h2{
    color: #f3efe0;
}