body{
    background-color: black;
}
table{
    font-size: 300%;
    margin: auto;
    color: aliceblue;
}
table button{
    width: 21vw;
    font-size: 100%;
    color: black;
    border-radius: 20px;
}
table td img{
    width: 40px;
}
#clear{
    overflow: hidden;
}
#ans{
    text-align: right;
    padding-right: 5%;
    width: 82vw;
    margin-bottom: 5px;
    border-radius: 25px;
    font-size:100%;
}
.equal{
    background-color: green;
}
.clear{
    background-color: crimson;
}



@media screen and (min-width:600px)
{
    table button{
        width: 100px;
    }
    
    #ans{
        width: 380px;
    }


}